html {
	font-family: Tahoma;
	color: #111;
}

body {
	margin: 0px;
	background-color: #fff;
}

.top {
	padding: 4px 10px 7px 10px;
	border-radius: 5;
	font-family: Verdana;
	border-bottom: 1px solid #eee;
}

.content {
	background-color: #fff;
	padding: 5px 10px 5px 10px;
}

.bottom {
	
	
}

.separator { padding: 0px 5px 0px 5px }
.customLink { color: #000; font-weight: bold;}

.incInfo { color: #000; font-weight: bold;}
.incPath { color: #ff8040; font-weight: bold;}

.pawnDefaultColor { color: #000080; font-family: Verdana; }
.pawnFunction { color: #e00; }
.pawnString { color: #f00; }
.pawnKeyword { color: #007700; }
.pawnConstant { color: #007700; }
.pawnNumber { color: #000080; }
.pawnTag { color: #007700; font-style: italic; }
.pawnTag a { color: #007700; text-decoration: none; }

.inspectorTitle { color: #000; font-weight: bold;}
.inspectorBlock { color: #000; }

.code {
	font-family: monospace;
	background-color: #f5f5f5;
	padding: 4px;
	border-radius: 2px;
	margin: 5px;
}

.code b {
	color: #000;
}

.doct2 { 
	color: #333;
}

.doct1 { 
	color: #666;
	font-style: italic;
}