html {
	font-family: Tahoma;
}

body {
	margin: 0px;
	background-color: #000;
}

.top {
	padding: 4px 10px 7px 10px;
	border-radius: 5;
	font-family: Verdana;
}

.content {
	padding: 5px 10px 5px 10px;
}

.bottom {
	
	
}

.separator { color: #000; padding: 0px 5px 0px 5px }
.customLink { color: #fff; font-weight: bold;}

.incInfo { color: #fff; font-weight: bold;}
.incPath { color: #ff8040; font-weight: bold;}

.pawnDefaultColor { color: #999; font-family: Verdana; }
.pawnFunction { color: #e00; }
.pawnString { color: #a69a28; }
.pawnKeyword { color: #007700; }
.pawnConstant { color: #007700; }
.pawnNumber { color: #0764ba; }
.pawnTag { color: #007700; font-style: italic; }
.pawnTag a { color: #007700; text-decoration: none; }

.inspectorTitle { color: #fff; font-weight: bold;}
.inspectorBlock { color: #eee; }
