html {
	font-family: Tahoma;
	color: #ccc;
}


body {
	margin: 0px;
	background-color: #000;
}

.top {
	padding: 4px 10px 7px 10px;
	border-radius: 5;
	font-family: Verdana;
}

.content {
	padding: 5px 10px 5px 10px;
}

.bottom {
	
	
}

.separator { color: #000; padding: 0px 5px 0px 5px }
.customLink { color: #fff; font-weight: bold;}

.incInfo { color: #fff; font-weight: bold;}
.incPath { color: #ff8040; font-weight: bold;}

.pawnDefaultColor { color: #999; font-family: Verdana; }
.pawnFunction { color: #e00; }
.pawnString { color: #a69a28; }
.pawnKeyword { color: #00cc00; }
.pawnConstant { color: #00cc00; }
.pawnNumber { color: #0764ba; }
.pawnTag { color: #00cc00; font-style: italic; }
.pawnTag a { color: #00cc00; text-decoration: none; }

.inspectorTitle { color: #fff; font-weight: bold;}
.inspectorBlock { color: #eee; }

.code {
	font-family: monospace;
	background-color: #444;
	padding: 4px;
	border-radius: 2px;
	margin: 5px;
}

.code b {
	color: #eee;
}

.doct2 { 
}

.doct1 { 
	font-style: italic;
}