html {
	font-family: Tahoma;
}

body {
	margin: 0px;
	
}

.top {
	background-color: #a5cd60;
	padding: 4px 10px 7px 10px;
	font-family: Verdana;
	color: #a5cd60;
}

.content {
	background-color: #fff;
	padding: 5px 10px 5px 10px;
}

.bottom {
	background-color: #a5cd60;
	padding: 2px;
}

.separator { padding: 0px 0px 0px 0px }
.customLink { 
	color: #fff; 
	font-weight: bold;
	text-decoration: none;
	background-color: #c84f52 ;
	padding: 1px 3px 2px 3px;
	border-radius: 3px;
}


.incInfo { color: #000; font-weight: bold;}
.incPath { color: #000; font-weight: bold;}

.pawnDefaultColor { color: #111; font-family: Verdana; }
.pawnFunction { color: #875A8F; font-weight: bold;}
.pawnString { color: #808080; }
.pawnKeyword { color: #111; }
.pawnConstant { color: #0000ff; font-weight: normal; }
.pawnNumber { color: #ff8000; font-style: italic; }
.pawnTag { color: #3366CC; font-style: italic; }
.pawnTag a { color: #3366CC; text-decoration: none; }

.inspectorTitle { color: #000; font-weight: bold;}
.inspectorBlock { color: #555; }

