/* Sublime Text MiniHTML docs -> http://www.sublimetext.com/docs/minihtml.html */

/*
	Predefine Vars:
    var(--background)
    var(--foreground)
    var(--accent)
    var(--redish)
    var(--orangish)
    var(--yellowish)
    var(--greenish)
    var(--cyanish)
    var(--bluish)
    var(--purplish)
    var(--pinkish)
	
	AMXX-Editor:
	var(--micro-size)
	var(--small-size)
	var(--normal-size)
	var(--large-size)
*/

html {
	font-family: Tahoma;
	font-size: var(--normal-size);
	color: #000;
}

body {
	margin: 0px;
}

.top {
	background-color: #444;
	padding: 4px 10px 7px 10px;
	font-family: Verdana;
}
.content {
	background-color: #fff;
	padding: 5px 10px 5px 10px;
}
.bottom { }

/********************************/


/* Popup top */
.top a { color: #fff; font-weight: bold;}
.top .separator { 
	padding: 0px 5px 0px 5px;
}


/* Tooltip function */
.tooltip-function .inspectorTitle { color: #000; font-weight: bold;}
.tooltip-function .inspectorBlock { color: #555; }


/* Tooltip include */
.tooltip-include b.info {
	margin: 0px;
	font-size: var(--large-size);
}
.tooltip-include b.path {
	color: #D20A0A;
}


/* Tooltip tags */
.tooltip-tag div.itemrow {
	margin: 2px;
}

.tooltip-tag a.funcname {
	padding-left: 4px;
}


/* Doct Block */
.code {
	font-family: monospace;
	background-color: #f5f5f5;
	padding: 4px;
	border-radius: 2px;
	margin: 5px;
}

.code b {
	color: #666;
}

.doct2 { 
	color: #111;
}

.doct1 { 
	color: #444;
	font-style: italic;
}


/* Buttons */
.btn {
	font-size: var(--small-size);
	text-decoration: none;
	border-radius: 4px;
	padding-right: 3px;
	padding-left: 3px;
}

.btn.go {
	background-color: #4fd154;
	color: #fff;
}

.btn.copy {
	background-color: #4fd154;
	color: #fff;
}


/* Syntax style ****************************************/
.pawnDefaultColor { color: #111; font-family: Verdana; }
.pawnFunction { color: #875A8F; font-weight: bold; }
.pawnString { color: #808080; }
.pawnKeyword { color: #111; }
.pawnConstant { color: #0000ff; font-weight: normal; }
.pawnNumber { color: #ff8000; font-style: italic; }
.pawnTag { color: #3366CC; font-style: italic; text-decoration: none; font-family: Verdana; }
